* {
  box-sizing: border-box;
}

.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

.admin {
  color: tomato !important;
}

.user {
  color: mediumseagreen !important;
}

#map {
  height: 400px;
  width: 100%;
}